@layer components {

    .input-group {
        @apply rounded-lg flex flex-col justify-between relative mt-3 w-full;

        input:focus, label:focus {
            @apply outline-primary-500 outline-solid outline-1;
        }
        
        /* --- Text input group --- */
        &.text input {
            @apply border border-white/10 light:border-primary/50 bg-moonlight light:bg-sand-alt rounded-md px-5 py-2;
        }

        &.text label {
            @apply absolute top-1/2 -translate-y-1/2 left-5 ease-in-out duration-300;
        }

        &.text input:not(:placeholder-shown) + label,
        &.text input:focus + label {
            @apply top-0 left-3 -translate-y-12/10 -translate-x-1/10 text-sm text-text-400;
        }
        
        /* --- Checkbox input group --- */
        &.checkbox {

            .label {
                @apply text-sand-alt light:text-midnight
            }
            input {
                @apply sr-only;
            }
            input:checked ~ p.label {
                @apply text-primary;
            }
            input:checked + svg .path {
                stroke-dasharray: 70.5096664428711 9999999;
                stroke-dashoffset: -262.2723388671875;
                stroke: var(--color-primary)
            }
            
            label {
                @apply flex gap-4 items-center justify-center w-fit px-2 py-1 rounded-lg cursor-pointer;
            }
            
            
            svg {
                @apply overflow-visible;
            }
            svg .path {
                fill: none;
                stroke: currentColor;
                stroke-width: 6;
                stroke-linecap: round;
                stroke-linejoin: round;
                transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
                stroke-dasharray: 241 9999999;
                stroke-dashoffset: 0;
            }
        }
    }
}
